@import "tailwindcss";
@plugin "daisyui";

body{
    color: white;
}

@font-face {
    font-family: 'RoxboroughCF-ExtraBold';
    src: url('/fonts/RoxboroughCF-ExtraBold.otf') format('otf');
    font-style: normal; /* Adjust style if necessary */
}

@font-face {
    font-family: 'kohinoor-devanagari';
    src: url('/fonts/kohinoor-devanagari.otf') format('otf');
    font-style:normal;
    font-weight: bolder;
}

@font-face {
    font-family: 'Objective-Bold';
    src: url('/fonts/Objective-Bold.otf') format('otf');
    font-weight: bolder;
    font-style: normal;
    
}



@font-face {
    font-family: 'Objective-Medium';
    src: url('/fonts/Objective-Medium.otf') format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


