.responsiveImage {
    width: 100%; 
    height: auto; 
}

@media (max-width: 768px) {
    .responsiveImage {
        height: 33.33%; /* Adjust height to 1/3 of the screen */
    }
}

.customFont {
    font-family: RoxboroughCF-ExtraBold; 
    font-weight:700;
}

.customFont1 {
    font-family: kohinoor-devanagari;
    font-weight: bolder;
}

.customFontPoppins {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.objectiveMedium{
    font-family: Objective-Medium;
    font-weight: 500;
    

}

.responsive-padding {
  padding: 1rem; /* Default padding for small screens */
}

@media (min-width: 768px) {
  .responsive-padding {
    padding: 1.5rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .responsive-padding {
    padding: 2rem; /* Large screens */
  }
}

.responsive-heading {
  font-size: 1rem; /* Default font size for small screens */
}

@media (min-width: 640px) {
  .responsive-heading {
    font-size: 1.5rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .responsive-heading {
    font-size: 2rem; /* Large screens */
  }
}
